body {
    font-family: 'quicksand', sans-serif;
    margin: 0;
}

#page-logo a {
    padding: 10px;
    font-family: 'Oleo Script' sans-serif;
    color:brown;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

header li {
    margin-left: 20px;
}

header a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    border-radius: 6px;
}

header a:hover {
    color: green;
    background-color: yellow;
}
